.wrapper {
  min-height: 100vh;
  position: relative;
  padding-bottom: 60px;
  box-sizing: border-box;
}

.nagoyameshi-logo {
  height: 24px;  
}

.app-name {
  font-family: 'Carter One', cursive;
  font-size: 24px;
  color: #191919;
}

.app-name:hover {
  color: #191919;
  opacity: 0.9;
}

.nagoyameshi-footer {
  width: 100%;
  height: 60px;
  position: absolute;
  bottom: 0;  
}

.users-table {
  word-break: break-all;
}

@media screen and (min-width: 1400px) {
  .nagoyameshi-container {
    max-width: 1200px;
  }
}

@media screen and (max-width: 991px) {
  .admin-sidebar {
    display: none;
  }

  .admin-content {
    margin: 0;
  }
}

/*
h1 {  
  font-size: 26px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.13px;
}

h2 {  
  font-size: 22px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
}

h3 {  
  font-size: 18px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.04px;
}

big {  
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.08px;
}

body {  
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.11px;
}

caption {  
  font-size: 12px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.08px;
}

label {  
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #191919;
}

.nagoyameshi-login-input {
  border-radius: 2px;
  border: solid 1px #b2b2b2;
  background-color: #ffffff;
}

.nagoyameshi-check-label {  
  font-size: 12px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
}

.nagoyameshi-require-input-label {
  border-radius: 1px;
  background-color: #e2001b;
}

.nagoyameshi-require-input-label-text {  
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
}

.nagoyameshi-submit-button {  
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #b2b2b2;
  color: #ffffff;
  background-color: #0fbe9f;
}

.nagoyameshi-login-text {  
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #0fbe9f;
}

.nagoyameshi-header-container {
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
}

.nagoyameshi-header-search-input {
  border: solid 1px #e5e5e5;
}

.nagoyameshi-header-search-button {
  background-color: #0fbe9f;
}

.nagoyameshi-header-search-icon {
  color: #ffffff;
}

.nagoyameshi-header-fav-icon {
  color: #191919;
}

.nagoyameshi-header-shoppingcart-icon {
  color: #ffffff;
}

.nagoyameshi-favorite-button {
  border-radius: 2px;
  border: solid 1px #0fbe9f;
  background-color: #ffffff;
}

.text-favorite {
  color: #0fbe9f;
}

.nagoyameshi-sidebar-category-label {
  width: 156px;
  height: 20px;  
  font-size: 13px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #191919;
}

.user-edit-label {
  cursor: pointer;
  cursor: hand;
}

.nagoyameshi-favorite-add-cart {
  border-radius: 2px;
  background-color: #0fbe9f;
}

.review-score-color {
  color: #0fbe9f;
}

.review-score-color:focus {
  color: #0fbe9f;
}

.dashboard-edit-link {  
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #0fbe9f;
}

.dashboard-delete-link {  
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #666666;
}

.h-10 {
  height: 10% !important;
}

.w-20 {
  width: 20% !important;
}

.w-80 {
  width: 80% !important;
}

.nagoyameshi-delete-submit-button {
  border-radius: 2px;
  background-color: #d94b0e;
}

.nagoyameshi-button {
  border-radius: 2px;
  border: solid 1px #b2b2b2;
  background-color: #ffffff;
}

.flash-success-font {
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #0dab8f;
}

.flash-success-bg {
  border-radius: 2px;
  background-color: #ceeee8;
}
*/